<div class="row">
  <div class="col-md-8">
    <h2>Lugares cercanos </h2>

    <button class="btn btn-default" (click)="animar()"><p>Animar</p></button>
    <div id="cuadrado" [@contenedorAnimable]="state" (@contenedorAnimable.start)="animacionInicia($event)" (@contenedorAnimable.done)="animacionTermina($event)"></div>
    <ul class="list-group">
      <ng-container *ngFor="let lugar of lugares; let i=index " [ngSwitch]="lugar.cercania">
          <li class="list-group-item" contar-clicks [ngStyle]="{color: (lugar.active) ? 'blank': 'gray'}" [ngClass]="{numero_par: (i+1) % 2 !==0 }" [resaltar]="lugar.plan" >
              <a routerLink="/detalle/{{lugar.id}}" [queryParams]="{action: 'update', refered: 'google' }" >
                <h4>{{lugar.nombre | uppercase}}</h4>
                
              </a>
              <small>Creado {{lugar.id | date:"yyyy/MM/dd" | uppercase}}</small>
             <span *ngSwitchCase="1" [ngStyle]="{color:'green'}">Muy cercano</span>
            <span *ngSwitchCase="2" [ngStyle]="{color:'black'}">Cercano</span>
            <span *ngSwitchCase="3" [ngStyle]="{color:'red'}">Lejano</span>
            <div>
                <p>{{lugar.descripcion}} </p>             
                <!-- <small>{{lugar.lat}} - {{lugar.lng}}</small> -->
            </div>
            
            <a routerLink="/update/{{lugar.id}}">
              <span>EDITAR</span>
            </a>
          </li>
        
        <!-- <li>Creado {{lugar.id | date:"medium" | uppercase}}</li> -->

      </ng-container>
    </ul>
  </div>

  <div class="col-md-4">
    <h2>Destacados</h2>
  </div>

</div>

<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>