<!--The content below is only a placeholder and can be replaced.-->

<div class="container" >
<hr/>

<input type="text" placeholder="tu nombre" [(ngModel)]="nombre"/>
<input type="text" placeholder="tu apellido" [(ngModel)]="apellido"/>
<br/>

<p>Mi nombre es {{nombre}} {{apellido}}</p>
<button class="btn btn-success" routerLink="/crear" >Crear nuevo negocio</button>


</div>


<hr/>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

